<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="masthead clearfix">
      <div class="container">
        <div class="inner px-5 py-3">
          <h3 class="masthead-brand">
            <%= site_brand_name %>
          </h3>
          <nav class="nav nav-masthead">
            <% if user_signed_in? %>
              <%= link_to 'Profile', edit_user_registration_path, class: "nav-link" %>
            <% else %>
              <%= link_to 'Signup', sign_up_path, class: "nav-link" %>
              <%= link_to 'Login', sign_in_path, class: "nav-link" %>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
    <div class="container text-center home-container">
      <div class="inner cover">
        <h1 class="mb-4">Meet business professionals, every week.</h1>
        <h5 class="font-weight-light mb-5">
          Join a community of entrepreneurs, engineers, designers and product people
        </h5>
        <p class="lead">
          <%= link_to user_linkedin_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-linkedin' do %>
            <i class="fab fa-linkedin"></i> Connect with LinkedIn
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h2 class="mb-5">How it works</h2>
      <div class="row">
        <div class="col-md-4">
          <h2 class="how-it-works-numbers">1</h2>
          <p>Choose times that work for you to meet</p>
        </div>
        <div class="col-md-4">
          <h2 class="how-it-works-numbers">2</h2>
          <p>Receive an email every week to confirm your availablity</p>
        </div>
        <div class="col-md-4">
          <h2 class="how-it-works-numbers">3</h2>
          <p>Meet new people! You'll get paired with someone new</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="text-center">FAQ</h2>
      <dl>
        <dt class="mt-4 font-weight-bold">Why did we build this?</dt>
        <dd>
          Meeting new people is way harder than it should be.
          We wanted to find a way to make it easier to meet people
          and for the community to do the same.
        </dd>
        <dt class="mt-4 font-weight-bold">Who is this for?</dt>
        <dd>
          If you're looking to meet and connect with new people, this is for you.
          Whether that's for hiring, to meet a cofounder, to help others or expand your network, this is
          made for that. We will ask you for your interests to best match you with similar minded folks.
        </dd>
        <dt class="mt-4 font-weight-bold">Where do we meet?</dt>
        <dd>
          To begin with, this will be on an ad hoc basis. We will let you and the other person decide where you'd like to
          meet.
          What we will help with is coordinating the time between the attendees.
        </dd>
        <dt class="mt-4 font-weight-bold">How many people will be in the meeting?</dt>
        <dd>
          We will experiment with 2-3 folks. It's not great if someone cancels last minute, especially if you made time
          to
          do coffee - 3 people would help as a fail safe. Lastly, there is more to learn about people when there are
          two others.
        </dd>
        <dt class="mt-4 font-weight-bold">Why do I need to be approved?</dt>
        <dd>
          We can't be everywhere at all times!
          We want to make sure there is enough users in each city before launching and matching people.
          Lastly, we want to make sure everyone is serious and committed to the community.
        </dd>
      </dl>
    </div>
  </div>
</div>
